YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
DATABASE_URL=
SESSION_SECRET=
FRONTEND_URL=https://drop-me-fail.onrender.com
API_BASE_URL=
YANDEX_REDIRECT_URI=https://BACKEND-URL.onrender.com/auth/yandex/callback
STORAGE_DIR=/var/data/uploads
